{% extends "base.html" %}
{% block title %}basket{% endblock %}
{% block content %}
<div class="row">
    <h3>Your Basket</h3>
</div>
{% if item != true %}
    {% for items in item %}
    <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">{{ items.name }}</h2>
            <p class="lead">{{ items.description }}</p>
            <p class="lead">{{ items.price }}</p>
            <p>
                <form method="POST" action="">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input name="item" type="text" style="display: none;" value="{{ items.id }}">
                    <input type="submit" class="btn btn-sm btn-outline-secondary" value="Delete to Cart">
                </form>
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{ items.photo }}" data-holder-rendered="true" style="width: 500px;">
          </div>
    </div>
    {% endfor %}
    <div class="row center" >
        <div class="col-10">All item's in basket </div>
        {% for items in item %}
            <div class="col-10" style="display: flex;	justify-content: space-between;"><p>{{ items.name }}</p><p>{{ items.price }}</p></div>
        {% endfor %}
        <div class="col-10" style="display: flex;	justify-content: space-between;"><p>Total price</p><p>{{ price }}</p></div>
    </div>
{% else %}
<h5>There is no item</h5>
{% endif %}
{% endblock %}
