{% extends "base.html" %}
{% block title %}items{% endblock %}
{% block content %}
<div class="row text-center">
    <h5>Items page</h5>
</div>
<nav class="navbar navbar-light bg-light">
    <form method="post" action="{{ url_for('search') }}" class="form-inline">
        <input class="form-control mr-sm-2" type="search" name='search' placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form method="post" action="{{ url_for('ordered_items') }}">
        <div class="col-6" style="margin: auto;">
            <select onchange="this.form.submit()" class="form-select" title="thing" id="myselect" name="thing" required>
                <option value="up_price" name="up_price" id="up_price" {% if thing =="up_price" %} selected {% endif %}>up_price</option>
                <option value="name" name="name" id="name" {% if thing =="name" %} selected {% endif %}>name</option>
                <option value="barcode" name="barcode" id="barcode" {% if thing =="barcode" %} selected {% endif %}>barcode</option>
            </select>
    </div>
   <br />
    </form>
</nav>
    {% if items.items %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for item in items.items %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ item.photo }}" alt="">
                    <div class="card-body">
                        <a href="http://127.0.0.1:5000/items/{{ item.id }}">
                            <p class="card-text">{{ item.name }}</p>
                        </a>
                        <p class="card-text">{{ item.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ url_for('show_item', item_id= item.id ) }}"><button type="button" class="btn btn-sm btn-outline-secondary" >View</button></a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="row center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for page_num in items.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2 ) %}
                    {% if page_num %}
                        {% if items.page  == page_num %}
                            <a class="btn btn-info mb-4" href="{{ url_for('all_items', page=page_num ) }}">{{ page_num }}</a>
                        {% else %}
                            <a class="btn btn-outline-info mb-4" href="{{ url_for('all_items', page=page_num ) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                     ... 
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        </div>
    {% else %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <h1>There is no items</h1>
        </div>
    {% endif %}

<script>
function addToCart(productId) {
    fetch('http://127.0.0.1:5000/cart/1', 
        {method: 'POST'}
    )
}
</script>

{% endblock %}