{% extends 'admin/model/create.html' %}

{% block body %}
  {% call lib.form_tag(form) %}


<main class="form-signin text-center">
  <form class="text-center" action="#" method="POST" enctype="multipart/form-data">
    <h1 class="h3 mb-3 fw-normal">Please add your item</h1>
    <div class="col-6" style="margin: auto;">
        <label for="name">name</label>
        <input type="text" name="ItemName" class="form-control" id="name" placeholder="" value="" required="">
    </div>
    <div class="col-6" style="margin: auto;">
        <label for="Price">Price</label>
        <input type="text" name="Price" class="form-control" id="Price" placeholder="" value="" required="">
    </div>
    <div class="col-6" style="margin: auto;">
        <label for="Barcode">Barcode</label>
        <input type="text" name="Barcode" class="form-control" id="Barcode" placeholder="" value="" required="">
    </div>
    <div class="col-6" style="margin: auto;">
        <label for="Description">Description</label>
        <textarea type="text" name="Description" class="form-control" id="Description" placeholder="" value="" required=""></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input name="file" type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
        {{ lib.render_form_buttons(return_url, extra()) }}
  </form>
</main>
{% endcall %}

{% endblock %}