{% extends "base.html" %}
{% block title %}items{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% if item != true %}

    {% for items in item %}
        <div class="col">
            <div class="card shadow-sm">
                <img src="{{ items.photo }}" alt="">
                <div class="card-body">
                    <a href="http://127.0.0.1:5000/items/{{ items.id }}">
                        <p class="card-text">{{ items.name }}</p>
                    </a>
                    <p class="card-text">{{ items.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="http://127.0.0.1:5000/items/{{ items.id }}"><button type="button" class="btn btn-sm btn-outline-secondary" >View</button></a>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% else %}
    <h5>There is no item</h5>
    {% endif %}


</div>
{% endblock %}